#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{   
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}


.column
{
    display: inline;
    padding: 10px;
}
img
{
    width: 30%;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0 3px 5px 0 rgba(2, 2, 2, 0.2);
}
